- content_for :head do
    %title Receptbasen - Logga in
    %meta{property: "og:title", content: "Receptbasen"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "https://receptbasen.se"}

.container
    .corners
        %img.corner{src: "/assets/svg/corner.svg"}
        %img.corner{src: "/assets/svg/corner.svg"}
        %img.corner{src: "/assets/svg/corner.svg"}
        %img.corner{src: "/assets/svg/corner.svg"}
    
    %h2.page-title Logga in

    %a.google-log-in{ :href => "/auth/google?redirect=#{@redirect}" } Logga in med Google