.profile-groups
    %a.btn.btn--primary{ :href => "/groups/new" } Skapa grupp
    .profile-groups-list
        - @groups.each do |group|
            != haml :'groups/_group_display', :locals => { :group => group }