-# for displaying a profile on the group members page.
%a.member{:href => "/profile/#{member.id}"}
    %img.profile-picture{:src => member.avatar_url}
    %h4= member.name
    - if admin_hash[member.id]
        %p.status
            %i.fa-solid.fa-user-shield.fa-sm
            Admin