-# views/_header.haml
%header
  %a.logo{ href: "/" } ReceptBasen
  %nav
    %a{ href: "/" } Home
    %a{ href: "/recipes" } Recipes
  .header-profile-wrapper
    - if @user != nil
      %a.btn.btn-primary.new-recipe#dumbass{ :href => "/recipes/new" }
        = "Nytt Recept"
        %img.svg{ :src => "/plus.svg", :width => "18", :height => "18"}
      != haml :"profile/_brief"
    - else
      %a.btn.btn-primary{ href: "/auth/google" } Logga in
  