-# views/_header.haml
%header
  %a.logo{ href: "/" } ReceptBasen
  .header-search
    %input{ :type => "text", :id => "search", :placeholder => "Sök bland sparade recept" }
    %img{ :src => "/search.svg", :alt => "Search", :width => "16px", :id => "search-btn" }
  .header-profile-wrapper
    - if @user != nil
      %a.btn.btn-primary.new-recipe#dumbass{ :href => "/recipes/new" }
        = "Nytt Recept"
        %img.svg{ :src => "/plus.svg", :width => "18", :height => "18"}
      != haml :"profile/_brief"
    - else
      %a.btn.btn-primary{ href: "/auth/google?redirect=#{request.url}" } Logga in
  