- content_for :head do
    %title Receptbasen - Spara dina favoritrecept
    %meta{ :name => "description", :content => "Spara dina favoritrecept och hitta nya att prova." }
    %meta{ :property => "og:title", :content => "Receptbasen" }
    %meta{ :property => "og:type", :content => "website" }
    %meta{ :property => "og:url", :content => "https://receptbasen.se" }

.intro-backdrop
    %img{ :src => "https://assets.icanet.se/e_sharpen:80,q_auto,dpr_1.25,w_1200,h_1200,c_lfill/imagevaultfiles/id_250227/cf_259/kanelbullar.jpg"}
    %img{ :src => "https://images.arla.com/recordid/AC5AFA8E-0E63-495E-9B7081C00C24072D/lasagne.jpg?format=jpg&width=1269&height=715&mode=crop&crop=(0,203,0,%E2%88%92307)"}
    %img{ :src => "https://bilder.kolonial.no/prod/oppskrifter/524263c1-ef08-4227-8343-18987303c673?auto=format&fit=clip&q=75&w=2000&s=c47e5561ac644caa8a3718e779c63b43"}
.intro-wrapper
    .intro
        %h2.intro-header Spara dina favoritrecept
        %form#searchForm{ :method => "get", :action => "/search" }
            .search-wrapper
                %input{ :type => "text", :placeholder => "Sök bland dina recept...", :name => "q" }
                .search-icon#searchSubmit
                    %img{ :src => "/search.svg", :alt => "search", :width => "32px" }