- content_for :head do
    %title Receptbasen - Spara dina favoritrecept
    %meta{ :name => "description", :content => "Spara dina favoritrecept och hitta nya att prova." }
    %meta{ :property => "og:title", :content => "Receptbasen" }
    %meta{ :property => "og:type", :content => "website" }
    %meta{ :property => "og:url", :content => "https://receptbasen.se" }

.intro-backdrop
    %img{ :src => "/assets/food/pollock.jpg"}
    %img{ :src => "/assets/food/squid.jpg"}
    %img{ :src => "/assets/food/cod.JPEG"}
.intro-wrapper
    .intro
        %h2.intro-header Spara dina favoritrecept
        %form#searchForm{ :method => "get", :action => "/search" }
            .search-wrapper
                %input{ :type => "text", :placeholder => "Sök bland dina recept...", :name => "q" }
                .search-icon#searchSubmit
                    %img{ :src => "/assets/svg/search.svg", :alt => "search", :width => "32px" }