:root {
    --background-1: #f4f4f4;
    --background-2: #eeeeee;
    --background-3: #dddddd;

    /* --color-primary: #FF69B4;
    --color-secondary: #fff; */

    --size-title: 3rem;
    --size-subtitle: 2rem;
    --size-text-large: 1.5rem;
    --size-text-medium: 1.2rem;
    --size-text-small: 1rem;

    --text: #050316;
    --background: #fbfbfe;
    --color-primary: #ffbc47;
    --color-secondary: #e4e2ff;
    --color-accent: #443dff;

}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "PT sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: var(--background-1);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid black; */
    padding: 1rem 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--color-secondary);
    z-index: 10;
}

header .logo {
    position: absolute;
    left: 0;
    padding: 1rem 1.2rem;
    
    /* background: var(--color-primary); */
    font-size: var(--size-subtitle);
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-family: "Lobster", sans-serif;
    
}


header nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

header nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    font-size: 1.2rem;
}

header nav a:hover {
    text-decoration: underline;
}

header .header-search {
    --bar-height: 55px;
    height: calc(var(--bar-height));
    width: 500px;   
    padding: 7px;
    display: flex;
    align-items: center;
}

header .header-search input {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    font-size: 0.8rem;
}

header .header-search img {
    --width: 18px;
    width: var(--width);
    height: var(--width);
    padding: calc(((var(--bar-height) - 14px) / 2 - var(--width) / 2));
    box-sizing: content-box;
    background: var(--color-primary);
    border-radius: 0 5px 5px 0;
    /* border: 1px solid #ccc; */
}

.header-profile-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.profile-brief {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: black;
}




.profile-brief img.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.profile-brief img.arrow {
    width: 24px;
    height: 24px;
}

.profile-brief p {
    font-size: var(--size-text-small);
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.profile-brief-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    right: 0;
}

.profile-brief:hover > .profile-brief-dropdown {
    display: flex;
}

.profile-brief-dropdown a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    text-decoration: none;
    color: black;
    background: white;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

.profile-brief-dropdown a:hover {
    background: var(--background-3);
}

header .btn, .group-btn {
    --difference: 2px;
    --padding-w: 12px;
    --padding-h: 4px;
    padding: var(--padding-h) var(--padding-w);
    margin: var(--difference);
    font-size: var(--size-text-small);
    border-radius: 5px;
    text-decoration: none;
    transition: padding 0.1s, margin 0.1s;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .btn-secondary, .group-btn.btn-secondary {
    --main-color: #555;
    color: var(--main-color);
    /* background: white; */
    border: 2px solid var(--main-color);
}
/* 
header .new-recipe {
    background-color: var(--color-primary);
    color: black;
    border: 2px solid var(--color-primary);
} */

header .btn-primary, .group-btn.btn-primary {
    background-color: var(--color-primary);
    color: black;
    border: 2px solid var(--color-primary);
}

header .btn:hover {
    /* background: var(--background-3);s */
    cursor: pointer;
    text-decoration: none;
    padding: calc(var(--padding-h) + var(--difference)) calc(var(--padding-w) + var(--difference));
    margin: 0;
}

@media screen and (max-width: 550px) {
    header .logo {
        display: none;
    }
    
    header nav {
        width: 100%;
        justify-content: space-between;
    }
}

footer {
    border-top: 1px solid var(--background-3);
    border-bottom: 1px solid var(--background-3);
    margin: 1rem 2rem;
    padding: 1rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: var(--size-subtitle);
    margin: 2rem;
    font-weight: bold;
}
.footer-links {
    display: flex;
    gap: 2rem;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    font-size: var(--size-text-medium);
}

.footer-links a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 550px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .footer-content {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-logo {
        margin: 0;
    }
}

main:has(.intro-backdrop) {
    padding: 0;
}

body:has(.intro-backdrop) header {
    background: none;
}

body:has(.intro-backdrop) header .header-search {
    visibility: hidden;
}

body:has(.intro-backdrop) main {
    position: fixed;
}

body:has(.intro-backdrop) footer {
    display: none;
}

.intro-backdrop {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.intro-backdrop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8823178929775035) 31%, rgba(255,255,255,0.40612741678702735) 69%, rgba(255,255,255,1) 100%);
    z-index: 0;
}

.intro-backdrop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: '. . .' '. content .' '. . .';
    height: 100vh;
    width: 100vw;
}

.intro-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.intro-btn-wrapper .btn-primary,
.intro-btn-wrapper .btn-secondary {
    padding: 0.5rem 2rem;
    font-size: var(--size-text-large);
    border-radius: 5px;
    text-decoration: none;
}

.intro-btn-wrapper .btn-primary {
    background-color: var(--color-primary);
    color: black;
    border: 2px solid var(--color-primary);
}

.intro-btn-wrapper .btn-secondary {
    --main-color: #555;
    color: var(--main-color);
    /* border: 2px solid var(--main-color); */
}

.intro {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.intro h2 {
    font-size: 4rem;
    grid-area: content;
    align-self: center;
    justify-self: center;
    z-index: 1;
}

.search-wrapper {
    --bar-height: 60px;
	--bar-width: 550px;
	--icon-size: 32px;
    --border-radius: 10px;
    --border-radius-smol: 3px;
	width: var(--bar-width);
	height: var(--bar-height);
	display: flex;
	--icon-offset: calc(var(--bar-height) / 2 - var(--icon-size) / 2);
    align-items: center;
    gap: 5px;
}

.search-wrapper input {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    /* border-radius: 10px; */
    border-radius: var(--border-radius) var(--border-radius-smol) var(--border-radius-smol) var(--border-radius);
    padding: 0 calc(var(--icon-offset) * 4.5) 0 20px;
	font-size: 1rem;
}

.search-icon {
    height: var(--bar-height);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
	/* position: relative; */
	/* top: var(--icon-offset);
    right: calc(var(--icon-offset) * 3); */
	color: var(--primary-color);
    cursor: pointer;
    
    background: var(--color-primary);
    border-radius: var(--border-radius-smol) var(--border-radius) var(--border-radius) var(--border-radius-smol);
    /* border: 1px solid #555; */
}

main {
    padding: 10rem 1rem;
    min-height: 100vh;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

.recipe-header {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    background-color: #f4f4f4;
    border-radius: 5px;
    gap: 1rem;
}

.recipe-header h2 {
    font-size: var(--size-title);
}

.page-title {
    font-size: var(--size-title);
    text-align: center;
    margin: 3rem 0;
}

.recipe-header p {
    font-size: var(--size-text-large);
    margin-bottom: 1rem;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recipe-content h2 {
    font-size: var(--size-subtitle);
}

.recipe-text {
    font-size: var(--size-text-large);
}


.recipe-list {
    display: flex;
    flex-wrap: wrap;
    --gap: 2rem;
    --column-amount: 6;
    gap: var(--gap);
    width: 80vw;
    margin: 0 auto;
}

@media screen and (max-width: 550px) {
    .recipe-list {
        --column-amount: 2;
    }
}

.recipe-brief {
	height: 250px;
    aspect-ratio: calc(1 / 1.618);
	background: linear-gradient(135deg, #6b73ff, #000dff);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 12px;
	transition: transform 0.1s ease-out, box-shadow 0.1s ease-out;
	transform-style: preserve-3d;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.recipe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.recipe-brief-container:hover .recipe-brief {
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.recipe-brief:hover {
    cursor: pointer;
}



.recipe-brief-content {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-img {
    height: 100%;
    aspect-ratio: calc(1 / 1.618);
    object-fit: cover;
    border-radius: 5px;
}

.recipe-title {
    /* padding: 0.5rem; */
    font-size: var(--size-text-medium);
    font-weight: 600;
}

.recipe-brief-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-brief-site {
    font-size: var(--size-text-small);
    color: #333;
}

.recipe-brief-btn {
    border-radius: 100%;
    padding: 0.5rem;
    box-sizing: content-box;
}

.recipe-brief-btn:hover {
    cursor: pointer;
    background: var(--background-3);
}

.recipe-brief-btn-wrapper div {
    display: flex;
    gap: 0.5rem;
}

/* .recipe-brief:hover {
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
} */

.recipe-brief-dropdown-btn {
    height: 40px;
}

.recipe-brief-dropdown-btn:hover .recipe-brief-dropdown-content {
    display: flex;
}

.recipe-brief-dropdown-btn .recipe-brief-dropdown-content {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    transform: translate(0, 40px);
}

.recipe-brief-dropdown-content .brief-dropdown-item {
    padding: 0.5rem;
    background: white;

}

.recipe-brief-dropdown-content .brief-dropdown-item:hover {
    background: var(--background-3);
    cursor: pointer;
}

.brief-dropdown-item.has-dropdown .recipe-brief-dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 0.5rem;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    transform: translate(calc(100% - 0.5rem), -0.5rem);
}

.brief-dropdown-item.has-dropdown:hover .recipe-brief-dropdown-content {
    display: flex;
}

form.brief-dropdown-item input[type="submit"] {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
}

form.brief-dropdown-item input[type="submit"]:hover {
    background: var(--background-3);
    cursor: pointer;
}


form#addForm {
    display: flex;
    /* flex-direction: column; */
    width: 600px;
    margin: 0 auto;
    /* outline: 1px solid black; */
    gap: 1rem;
}

.recipe-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recipe-input input {
    padding: 0.65rem;
    /* margin: 0.5rem 0; */
    font-size: var(--size-text-medium);
    border-radius: 5px;
    /* outline: 1px solid black; */
    border: 1px solid var(--background-3);
    color: #333;
    background: var(--background-2);
}



.ingredient-list, .instruction-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: 1rem 0;
}

.ingredient {
    display: grid;
    grid-template-columns: 1fr 10fr 2fr 2fr;
    gap: 1rem;
    align-items: center;
}

.instruction {
    display: grid;
    grid-template-columns: 1fr 10fr 2fr 2fr;
    grid-template-areas: 'id input input remove';
    align-items: center;
    gap: 1rem;
}

.instruction textarea {
    grid-area: input;
    resize: vertical;
    max-height: 200px;
    padding: 0.65rem;
    font-size: var(--size-text-medium);
    border: 1px solid var(--background-3);
    border-radius: 5px;
    color: #333;
    background: var(--background-2);
    min-height: 46px;
}

.ingredient label, .instruction label {
    font-size: var(--size-text-medium);
    text-align: right;
}

.ingredient input {
    padding: 0.65rem;
    font-size: var(--size-text-medium);
    border-radius: 5px;
    border: 1px solid var(--background-3);
    color: #333;
    background: var(--background-2);
}

.addrecipe-btn {
    padding: 0.65rem;
    font-size: var(--size-text-medium);
    border-radius: 5px;
    border: 1px solid var(--background-3);
    color: #333;
    background: var(--color-primary);
    width: fit-content;
}

.ingredient button, .instruction button {
    padding: 0.65rem;
    font-size: var(--size-text-medium);
    border-radius: 5px;
    border: 1px solid var(--background-3);
    color: #333;
    background: var(--background-2);
}

.ingredient button:hover, .instruction button:hover {
    background: var(--background-3);
    cursor: pointer;
}

/* .btn-primary {
    background: var(--color-primary);
    color: #333;
} */

.addrecipe-btn:hover {
    /* background: var(--background-3); */
    cursor: pointer;
}

.profile-intro, .group-intro {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
    justify-content: center;
    padding: 2rem 0;
}

.profile-img, .group-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.profile-name, .group-name {
    font-size: var(--size-text-large);
}

.profile-content, .group-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80vw;
    margin: 0 auto;
}

.profile-content-nav, .group-content-nav {
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
}

.profile-content-nav a, .group-content-nav a {
    text-decoration: none;
    color: #333;
    font-size: var(--size-text-medium);
}

.profile-content-nav a.active, .group-content-nav a.active {
    text-decoration: underline;
}

.profile-content-body, .group-content-body {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.group-brief {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.group-brief img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.group-brief-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.group-name {
    font-size: var(--size-text-medium);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.group-name a {
    /* text-decoration: none; */
    color: #333;
    font-weight: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* border: 1px solid black; */
}

th {
    background: var(--background-3);
    padding: 0.5rem;
    text-align: left;
}

tr {
    border-bottom: 1px solid var(--background-3);
}

tr:nth-child(even) {
    background: var(--background-2);
}

td {
    padding: 0.5rem;
}

.error-title {
    font-size: var(--size-title);
    text-align: center;
    margin: 3rem 0;
}