:root {
	--background-1: #f4f4f4;
	--background-2: #eeeeee;
	--background-3: #dddddd;

	/* --color-primary: #FF69B4;
    --color-secondary: #fff; */

	--size-title: 3rem;
	--size-subtitle: 2rem;
	--size-text-large: 1.5rem;
	--size-text-medium: 1.2rem;
	--size-text-small: 1rem;

	--color-primary-soft: #f7e4b8;
	--color-primary-soft-dark: #e6d3a5;
	--text: #050316;
	--background: #fbfbfe;
	--color-primary: #ffbc47;
	--color-primary-dark: #eaa42b;
	--color-secondary: #e4e2ff;
	--color-secondary-dark: #c1bdef;
	--color-accent: #443dff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "PT sans", sans-serif;
}

body {
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: var(--background-1);
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	/* outline: 1px solid black; */
	padding: 1rem 1.2rem;
	position: fixed;
	top: 0;
	width: 100%;
	background: var(--color-secondary);
	z-index: 10;
}

header .logo {
	position: absolute;
	left: 0;
	padding: 1rem 1.2rem;

	/* background: var(--color-primary); */
	font-size: var(--size-subtitle);
	font-weight: bold;
	text-decoration: none;
	color: #333;
	font-family: "Lobster", sans-serif;
}

header nav {
	display: flex;
	align-items: center;
	gap: 3rem;
}

header nav a {
	text-decoration: none;
	color: #333;
	padding: 10px;
	font-size: 1.2rem;
}

header nav a:hover {
	text-decoration: underline;
}

header .header-search {
	--bar-height: 55px;
	height: calc(var(--bar-height));
	width: 500px;
	padding: 7px;
	display: flex;
	align-items: center;
}

header .header-search input {
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	padding: 0 10px;
	font-size: 0.8rem;
}

header .header-search button {
	--width: 18px;
	width: var(--width);
	height: var(--width);
	padding: calc(((var(--bar-height) - 14px) / 2 - var(--width) / 2));
	box-sizing: content-box;
	background: var(--color-primary);
	border-radius: 0 5px 5px 0;
	border: none;
}

header .header-search button:hover {
	background: var(--color-primary-dark);
	cursor: pointer;
}

header .header-search button img {
	width: 100%;
	height: 100%;
}

.header-profile-wrapper {
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	gap: 2rem;
	padding: 0 2rem;
}

.profile-brief {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	color: black;
}

.profile-brief img.avatar {
	width: 32px;
	height: 32px;
	border-radius: 100%;
}

.profile-brief img.arrow {
	width: 24px;
	height: 24px;
}

.profile-brief p {
	font-size: var(--size-text-small);
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.profile-brief-dropdown {
	position: absolute;
	display: none;
	flex-direction: column;
	top: 100%;
	right: 0;
	translate: 0 -3px;
}

.profile-brief:hover > .profile-brief-dropdown {
	display: flex;
}

.profile-brief-dropdown a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	text-decoration: none;
	color: black;
	background: white;
	padding: 0.5rem 2rem 0.5rem 1rem;
}

.profile-brief-dropdown a:hover {
	background: var(--background-3);
}

header .btn,
.group-btn {
	--difference: 2px;
	--padding-w: 12px;
	--padding-h: 4px;
	padding: var(--padding-h) var(--padding-w);
	margin: var(--difference);
	font-size: var(--size-text-small);
	border-radius: 5px;
	text-decoration: none;
	transition: padding 0.1s, margin 0.1s;
	line-height: 1.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

header .btn img {
	box-sizing: content-box;
	padding: 3px;
}

header .btn-secondary,
.group-btn.btn-secondary {
	--main-color: #555;
	color: var(--main-color);
	/* background: white; */
	border: 2px solid var(--main-color);
}
/* 
header .new-recipe {
    background-color: var(--color-primary);
    color: black;
    border: 2px solid var(--color-primary);
} */

header .btn-primary,
.group-btn.btn-primary {
	background-color: var(--color-primary);
	color: black;
	border: 2px solid var(--color-primary);
}

header .btn:hover {
	/* background: var(--background-3);s */
	cursor: pointer;
	text-decoration: none;
	padding: calc(var(--padding-h) + var(--difference))
		calc(var(--padding-w) + var(--difference));
	margin: 0;
}

@media screen and (max-width: 550px) {
	header .logo {
		/* display: none; */
	}

	header .header-search {
		visibility: hidden;
	}

	header .btn {
		--padding-w: 4px;
		--padding-h: 4px;
	}

	header nav {
		width: 100%;
		justify-content: space-between;
	}

	header .profile-brief p {
		display: none;
	}

	header .new-recipe span {
		display: none;
	}

	.header-profile-wrapper {
		gap: 1rem;
	}
}

footer {
	border-top: 1px solid var(--background-3);
	border-bottom: 1px solid var(--background-3);
	margin: 1rem 2rem;
	padding: 1rem;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	font-size: var(--size-subtitle);
	margin: 2rem;
	font-weight: bold;
}
.footer-links {
	display: flex;
	gap: 2rem;
}

.footer-links a {
	text-decoration: none;
	color: #333;
	font-size: var(--size-text-medium);
}

.footer-links a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 550px) {
	footer {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.footer-content {
		flex-direction: column;
		gap: 1rem;
	}

	.footer-logo {
		margin: 0;
	}
}

.intro-backdrop {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* gap: 1rem; */
	overflow: hidden;
}

.intro-backdrop img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.intro-backdrop::before {
	z-index: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		to bottom,
		rgba(244, 244, 244, 0) 0%,
		rgba(244, 244, 244, 0.5) 70%,
		rgba(244, 244, 244, 1) 100%
	);
}

.intro {
	width: 100%;
	height: calc(100vh - 10rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	padding: 0 5rem;
}

.intro-text h1 {
	font-size: 4rem;
}

.intro-btns {
	display: flex;
	gap: 1rem;
}

.search-wrapper {
	--bar-height: 60px;
	--bar-width: 550px;
	--icon-size: 32px;
	--border-radius: 10px;
	--border-radius-smol: 3px;
	width: var(--bar-width);
	height: var(--bar-height);
	display: flex;
	--icon-offset: calc(var(--bar-height) / 2 - var(--icon-size) / 2);
	align-items: center;
	gap: 5px;
}

.search-wrapper input {
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	/* border-radius: 10px; */
	border-radius: var(--border-radius) var(--border-radius-smol)
		var(--border-radius-smol) var(--border-radius);
	padding: 0 calc(var(--icon-offset) * 4.5) 0 20px;
	font-size: 1rem;
}

.search-icon {
	height: var(--bar-height);
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: relative; */
	/* top: var(--icon-offset);
    right: calc(var(--icon-offset) * 3); */
	color: var(--primary-color);
	cursor: pointer;

	background: var(--color-primary);
	border-radius: var(--border-radius-smol) var(--border-radius)
		var(--border-radius) var(--border-radius-smol);
	/* border: 1px solid #555; */
}

main {
	padding: 5rem 1rem;
	min-height: 100vh;
}

.recipe-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 1rem;
	gap: 1rem;
}

.recipe-header {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	background-color: #f4f4f4;
	border-radius: 5px;
	gap: 1rem;
}

.recipe-header h2 {
	font-size: var(--size-title);
}

.page-title {
	font-size: var(--size-title);
	text-align: center;
	margin: 3rem 0;
}

.recipe-header p {
	font-size: var(--size-text-large);
	margin-bottom: 1rem;
}

.recipe-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.recipe-content h2 {
	font-size: var(--size-subtitle);
}

.recipe-text {
	font-size: var(--size-text-large);
}

.recipe-list {
	display: flex;
	flex-wrap: wrap;
	--gap: 2rem;
	--column-amount: 5;
	--card-width: calc(
		(100vw - 3rem - (var(--gap) * (var(--column-amount) - 1))) /
			var(--column-amount)
	);
	gap: var(--gap);
	/* width: 80vw; */
	margin: 0 auto;
}

@media screen and (max-width: 1400px) {
	.recipe-list {
		--column-amount: 4;
	}
}

@media screen and (max-width: 1200px) {
	.recipe-list {
		--column-amount: 3;
	}
}

@media screen and (max-width: 760px) {
	.recipe-list {
		--column-amount: 2;
		gap: 1rem;
		padding: 1rem;
		--card-width: calc(
			(100vw - 2rem - (1rem * (var(--column-amount) - 1))) /
				var(--column-amount)
		);
	}
}

@media screen and (max-width: 550px) {
	.recipe-list {
		--column-amount: 2;
	}
}

.card {
	/* background-color: #f8f8f8; /* Ljusgrå bakgrund */
	/* border-radius: 16px; */
	/* overflow: hidden; */
	width: 100%;
	/* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */

	/* font-family: Arial, sans-serif; */
	/* transform-style: preserve-3d; */
	/* transition: transform 0.1s; */
	transition: box-shadow 0.3s;
	border-radius: 8px;
}

.card:hover {
	/* box-shadow: 0 0 24px 0 rg(0, 0, 0, 0.3); */
}

.card-container {
	width: var(--card-width);
}

.card .img-wrapper:hover > a > img:not(.icon) {
	transform: scale(1.05);
}

.card .img-wrapper {
	position: relative;
	width: 100%;
	height: 60%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border-bottom: 2px solid #ccc; Tunn linje för separation */
	border-radius: 8px;
	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
}

.card .btn-container {
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}

.card .recipe-brief-round-btn {
	background: #f7e4b8;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 50%;
	transition: transform 0.2s ease-in-out;
}

.card .recipe-brief-round-btn:nth-child(1) {
	background: #fefefe;
}

.card .recipe-brief-round-btn:hover {
	transform: scale(1.1);
	/* background: #f7e4b8; Ljusgul nyans */
}

.card .recipe-brief-round-btn:active {
	transform: scale(0.9);
}

.card .recipe-brief-round-btn img {
	width: 24px;
	height: 24px;
}

/* Bilden högst upp */
.card img.btn-icon,
.card img.card-image {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	transition: transform 0.2s ease-in-out;
	display: block;
}

.card img.icon {
	width: 24px;
	height: 24px;
	/* border-radius: 100%; */
}

/* Innehållssektionen */
.card-content {
	padding: 16px 0;
	text-align: center;
}

/* Rubrik */
.card-title {
	font-size: 1.25rem;
	/* margin: 8px 0; */
	color: #333;
	padding: 0 16px;
	text-align: left;
}

/* Tid */
.card-subtitle {
	font-size: 1rem;
	color: #666;
	/* margin-bottom: 16px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	/* background: #e0e0e0; */
	padding: 0.5rem 1rem;
	border-radius: 5px;
}

.card-subtitle-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
}

/* Knapp-rad */
.card-btn-row {
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

/* Gemensam stil för knappar */
.card-btn {
	padding: 8px 16px;
	border: none;
	border-radius: 8px;
	font-size: 0.875rem;
	cursor: pointer;
	transition: background-color 0.3s;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	width: 100%;
}

.card-btn img {
	width: 18px;
	height: 18px;
}

/* Primär knappstil */
.card-btn--primary {
	background-color: var(--color-primary-soft); /* Ljusgul nyans */
	color: #333;
}

.card-btn--primary:hover {
	background-color: var(
		--color-primary-soft-dark
	); /* Lite mörkare gul vid hover */
}

.card-btn--secondary {
	background-color: var(--color-secondary);
	color: #333;
}

.card-btn--secondary:hover {
	background-color: var(--color-secondary-dark);
}

.card-save {
	position: absolute;
	top: 16px;
	right: 16px;
	background: #fff;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	padding: 0;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

@media screen and (max-width: 768px) {
	.card .img-wrapper {
		height: 40%;
	}
	.card-content {
		padding: 8px;
	}
	.card-title {
		font-size: 1rem;
	}
	.card-subtitle {
		font-size: 0.875rem;
	}
	.card-btn {
		padding: 4px 8px;
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 550px) {
	.card .img-wrapper {
		height: 30%;
	}
	.card-content {
		padding: 4px;
	}
	.card-title {
		font-size: 0.875rem;
	}
	.card-subtitle {
		font-size: 0.75rem;
	}
	.card-btn {
		padding: 6px 4px;
		font-size: 0.625rem;
	}
}

.recipe-input {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.recipe-input input {
	padding: 0.65rem;
	/* margin: 0.5rem 0; */
	font-size: var(--size-text-medium);
	border-radius: 5px;
	/* outline: 1px solid black; */
	border: 1px solid var(--background-3);
	color: #333;
	background: var(--background-2);
}

.ingredient-list,
.instruction-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	margin: 1rem 0;
}

.ingredient {
	display: grid;
	grid-template-columns: 1fr 10fr 2fr 2fr;
	gap: 1rem;
	align-items: center;
}

.instruction {
	display: grid;
	grid-template-columns: 1fr 10fr 2fr 2fr;
	grid-template-areas: "id input input remove";
	align-items: center;
	gap: 1rem;
}

.instruction textarea {
	grid-area: input;
	resize: vertical;
	max-height: 200px;
	padding: 0.65rem;
	font-size: var(--size-text-medium);
	border: 1px solid var(--background-3);
	border-radius: 5px;
	color: #333;
	background: var(--background-2);
	min-height: 46px;
}

textarea {
	font-family: 'PT sans'
}

.ingredient label,
.instruction label {
	font-size: var(--size-text-medium);
	text-align: right;
}

.ingredient input {
	padding: 0.65rem;
	font-size: var(--size-text-medium);
	border-radius: 5px;
	border: 1px solid var(--background-3);
	color: #333;
	background: var(--background-2);
}

.addrecipe-btn {
	padding: 0.65rem;
	font-size: var(--size-text-medium);
	border-radius: 5px;
	border: 1px solid var(--background-3);
	color: #333;
	background: var(--color-primary);
	width: fit-content;
}

.ingredient button,
.instruction button {
	padding: 0.65rem;
	font-size: var(--size-text-medium);
	border-radius: 5px;
	border: 1px solid var(--background-3);
	color: #333;
	background: var(--background-2);
}

.ingredient button:hover,
.instruction button:hover {
	background: var(--background-3);
	cursor: pointer;
}

/* .btn-primary {
    background: var(--color-primary);
    color: #333;
} */

.addrecipe-btn:hover {
	/* background: var(--background-3); */
	cursor: pointer;
}

.profile-intro {
	display: flex;
	align-items: center;
	padding: 20px 40px;
	/* background-color: white; */
	/* border-bottom: 1px solid #ddd; */
	width: 100%;
}

.profile-img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 20px;
	border: 3px solid #ddd;
}

.profile-name {
	font-size: 1.8rem;
	font-weight: 700;
	color: #222;
	margin: 0;
}

.group-name {
	font-size: var(--size-text-medium);
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.group-name a {
	/* text-decoration: none; */
	color: #333;
	font-weight: normal;
}

table {
	width: 100%;
	border-collapse: collapse;
	/* border: 1px solid black; */
}

th {
	background: var(--background-3);
	padding: 0.5rem;
	text-align: left;
}

tr {
	border-bottom: 1px solid var(--background-3);
}

tr:nth-child(even) {
	background: var(--background-2);
}

td {
	padding: 0.5rem;
}

.error-title {
	font-size: var(--size-title);
	text-align: center;
	margin: 3rem 0;
}

.error-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	height: 100%;
	margin: 1fr 0 2fr 0;
}

.error-content p {
	font-size: var(--size-text-large);
}

.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.save-recipe-modal-content {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 500px;
	border-radius: 5px;
}

.modal-header {
	width: 100%;
	font-size: var(--size-text-large);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px 20px 0;
}

.modal-rows {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-top: 1px solid #ccc;
}

.modal-row {
	display: flex;
	padding: 10px 20px;
	border: none;
	background: white;
	border-bottom: 1px solid #ccc;
	align-items: center;
	justify-content: space-between;
	font-size: var(--size-text-medium);
}

.collection-text {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.collection-owner {
	font-size: 14px;
}

.modal-row .save-btn,
.modal-arrow {
	background: none;
	border: none;
	width: 24px;
	height: 24px;
	box-sizing: content-box;
	padding: 6px;
	border-radius: 100%;
}

.modal-row .save-btn:hover {
	background: var(--background-3);
	cursor: pointer;
}

.group-row:hover {
	cursor: pointer;
	background: var(--background-3);
}

.modal-btn-primary {
	--padding-w: 12px;
	--padding-h: 4px;
	padding: var(--padding-h) var(--padding-w);
	margin: 16px auto 0 auto;
	font-size: var(--size-text-small);
	border-radius: 5px;
	text-decoration: none;
	transition: padding 0.1s, margin 0.1s;
	line-height: 1.5rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	background: var(--color-primary);
	width: fit-content;
}

.modal-btn-primary:hover {
	cursor: pointer;
	background-color: var(--color-primary-dark);
}

.modal-add-collection {
	display: none;
	padding: 10px;
	align-items: center;
	gap: 1rem;
}

.modal-add-collection.show {
	display: flex;
}

.modal-add-collection input {
	padding: 0.45rem;
	font-size: var(--size-text-small);
	border-radius: 5px;
	border: 1px solid var(--background-3);
	color: #333;
	background: var(--background-2);
}

.modal-add-collection button {
	/* padding: 0.65rem; */
	padding: 0.45rem;
	box-sizing: content-box;
	width: 1rem;
	height: 1rem;
	font-size: var(--size-text-small);
	border-radius: 5px;
	border: 1px solid var(--background-3);
	color: #333;
	background: var(--color-primary);
}

.modal-add-collection button img {
	width: 100%;
	height: 100%;
}

.container {
	/* Container for cool invite and group interface */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;

	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.container.justify-center {
	justify-content: center;
}

.container img:not(.corner) {
	width: 128px;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 100%;
}

.container p {
	/* Nils bjöd in dig till en grupp */
	font-size: var(--size-text-small);
	color: #555;
}

.container h2 {
	font-size: var(--size-title);
}

.container.justify-center h2 {
	margin: 0;
}

.static-container {
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.btn {
	padding: 0.65rem 1rem;
	border: none;
	font-size: var(--size-text-medium);
	border-radius: 5px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s;
	width: fit-content;
}

.btn--primary {
	background: var(--color-primary);
	color: #333;
}

.btn--secondary {
	background: var(--color-secondary);
	color: #333;
}

.btn--secondary:hover {
	background: var(--color-secondary-dark);
}

.btn--loading {
	background: var(--color-primary-dark);
	color: #333;
	cursor: not-allowed;
}

.btn.full-width {
	width: 100%;
}

.btn img.loading-icon {
	width: 16px;
	height: 16px;
}

.btn.btn--primary:hover {
	background: var(--color-primary-dark);
	cursor: pointer;
}

.btn.btn--loading:hover {
	cursor: not-allowed;
}

.intor-btns {
	position: relative;
}

.intro-btns .btn {
	font-size: var(--size-text-large);
	padding: 0.85rem 1.25rem;
	border-radius: 10px;
	background-color: var(--color-primary);
	/* color: white; */
}

.recipe-list-header {
	margin: 1rem;
	font-size: var(--size-subtitle);
}

#fireworkContainer {
	position: absolute;
	translate: -50px -50px;
	width: 300px;
	height: 170px;
	z-index: -1;
}

.margin-row {
	width: 100%;
	height: 2rem;
	margin: 1rem 0;
}

.corners {
	width: 500px;
	height: 500px;
	position: absolute;
	z-index: -1;
}

.corner {
	width: 32px;
	height: 32px;
	position: absolute;
	/* filter: invert(1); */
	z-index: -1;
}

.corner:nth-child(1) {
	top: 0;
	left: 0;
}

.corner:nth-child(2) {
	top: 0;
	right: 0;
	transform: rotate(90deg);
}

.corner:nth-child(3) {
	bottom: 0;
	left: 0;
	transform: rotate(-90deg);
}

.corner:nth-child(4) {
	bottom: 0;
	right: 0;
	transform: rotate(180deg);
}

.info-group,
.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.button-group form {
	display: flex;
	gap: 0.5rem;
}

.button-group input[type="submit"],
.button-group button {
	padding: 0.65rem;
	font-size: var(--size-text-small);
	border-radius: 5px;
	border: 1px solid var(--background-3);
	color: #333;
	background: var(--color-primary);
}

.button-group input[type="submit"]:hover,
.button-group button:hover {
	background: var(--color-primary-dark);
	cursor: pointer;
}

.button-group input[type="number"],
.button-group input[type="text"] {
	border: 1px solid var(--background-3);
	border-radius: 5px;
	padding: 0.4rem;
	/* width: 50%;	 */
}

.container .row {
	display: flex;
	gap: 1rem;
}

@media screen and (max-width: 550px) {
	.container {
		width: 90%;
	}

	.corners {
		display: none;
	}
}

.group-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	/* box-sizing: content-box; */
	padding: 0 50px;
	align-items: center;
	margin: 50px 0;
}

.group-info {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.group-info--text {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.group-info--text .group-name {
	font-size: var(--size-title);
}

.group-info--text p {
	font-size: var(--size-text-large);
}

.group-info--img {
	width: 128px;
	aspect-ratio: 1;
}

.group-info--img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
}

.group-btns {
	display: flex;
	gap: 1rem;
}

.group-nav,
.profile-nav {
	width: calc(100vw - 1rem);
	translate: -1rem 0;
	/* border-bottom: 1px solid #aaa; */
	padding: 1rem 5rem 0 5rem;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
	margin-bottom: 2rem;
}

.group-nav-content,
.profile-nav-content {
	display: flex;
	gap: 10rem;
	position: relative;
}

.group-nav-content a,
.profile-nav-content a {
	text-decoration: none;
	color: #333;
	font-size: var(--size-text-large);
	/* line-height: calc(var(--size-text-large) * 0.94); */
}

#activeDisplay {
	height: 4px;
	background: #aaa;
	position: absolute;
	bottom: 0;
	transform: translateY(4px);
	z-index: 1;
}

.group-about,
.profile-groups {
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.group-description {
	font-size: var(--size-text-medium);
}

.group-members h3,
.profile-groups h3 {
	margin: 1rem 0;
	font-size: var(--size-subtitle);
}

.group-members-header {
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media screen and (max-width: 1000px) {
	.group-info--text .group-name {
		font-size: var(--size-subtitle);
	}
}

@media screen and (max-width: 768px) {
	.group-header {
		flex-direction: column;
		gap: 2rem;
	}

	.group-btns {
		justify-content: center;
	}

	.group-info--text .group-name {
		font-size: var(--size-text-large);
	}

	.group-info--text p {
		font-size: var(--size-text-medium);
	}
	
}
form.info-group {
	gap: 0.5rem;
}

.input-group {
	display: flex;
	flex-direction: column;
	gap: 0;
	width: 100%;
}

.input-group label {
	font-size: 0.8rem;
}

.input-group textarea {
	resize: none;
}

.input-group input {
	width: 100%;
}

.input-group input,
.input-group textarea,
.input-group select {
	padding: 0.65rem;
	font-size: var(--size-text-small);
	border-radius: 5px;
	border: 1px solid #999;
	color: #333;
	background: var(--background-1);
}

.input-group input[type="checkbox"] {
	float: left;
	width: 1rem;
	height: 1rem;
}

.input-row {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.input-group input {
	height: 100%;
}

.add-ingredient {
	display: flex;
	width: 100%;
	gap: 1rem;
	margin-bottom: 1rem;
}

.add-ingredient input {
	width: 100%;
	flex: 80;
}

.add-ingredient button {
	flex: 20;
}

.group-members-list,
.profile-groups-list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	width: 100%;
}

.member,
.group-display {
	display: flex;
	align-items: center;
	gap: 1rem;
	text-decoration: none;
	color: black;
}

.member img,
.group-display img {
	width: 64px;
	height: 64px;
	object-fit: cover;
	border-radius: 100%;
}

.member-info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.member .status {
	padding: 2px 8px;
	border-radius: 5px;
	border: 1px solid #555;
}

.container form,
.static-container form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 80%;
}


p.error-display {
	color: red;
	font-size: var(--size-text-small);
}

.recipe {
	margin: 5rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	gap: 2rem;
}

.recipe-intro {
	display: grid;
	grid-template-columns: 6fr 4fr;
	grid-template-rows: 1fr;
	grid-template-areas: "image text";
	gap: 1rem;
	background: white;
}

.recipe-img {
	grid-area: image;
}

.recipe-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px 0 0 5px;
	aspect-ratio: 1;
}

.recipe-intro .mobile-img {
	display: none;
	border-radius: 5px;
	width: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}

.recipe-info {
	grid-area: text;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	padding: 3rem;
}

.recipe-info-group {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	gap: 1rem;
	/* padding: 3rem; */
}

.recipe-info-btns {
	display: flex;
	gap: 1rem;
	width: 100%;
	justify-content: space-evenly;
}

.recipe-info-btn {
	padding: 1rem;
	border-radius: 5px;
	background: white;
	/* height: fit-content; */
	/* border: 1px solid #999; */
	border: none;
	transition: color 0.4s;
	font-size: var(--size-text-small);
}

.recipe-info-btn:hover {
	cursor: pointer;
	color: #555;
}

.recipe-info-btn:hover .info-btn-icon {
	filter: brightness(0) saturate(100%) invert(32%) sepia(1%) saturate(0%)
		hue-rotate(251deg) brightness(97%) contrast(89%);
}

.info-btn-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 56px;
	aspect-ratio: 1;
}

.info-btn-icon {
	width: 32px;
	height: 32px;
	transition: filter 0.4s;
}

.recipe-info h2 {
	font-size: 4rem;
	text-align: center;
}

.recipe-info p {
	font-size: var(--size-text-medium);
}

.recipe-info-bar {
	display: flex;
	align-items: center;
	padding: 1rem;
	background: var(--color-primary-soft);
	gap: 1rem;
	border-radius: 5px;
	justify-content: space-evenly;
}

.recipe-info-bar-item img {
	width: 32px;
	height: 32px;
}

.recipe-info-bar-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.1rem;
	font-size: var(--size-text-medium);
}

.recipe-content {
	display: grid;
	grid-template-columns: 3fr 7fr;
	grid-template-areas: "ingredients discussion";
	gap: 2rem;
}

.recipe-ingredients-container {
	grid-area: ingredients;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background: white;
	padding: 1rem;
	border-radius: 5px;
	width: 100%;
	/* height: fit-content; */
}

.recipe-content:has(.alone) .recipe-ingredients-container {
	height: fit-content;
}

.recipe h3 {
	font-size: var(--size-subtitle);
	text-align: center;
}

.recipe-ingredients-container ul {
	list-style: none;
}

.recipe-ingredients-container li {
	padding: 0.5rem;
}

.recipe-discussion-container {
	grid-area: discussion;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background: white;
	padding: 1rem;
	border-radius: 5px;
	position: relative;
}

.add-comment-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	/* align-items: center; */
}

.add-comment-form textarea {
	resize: none;
	padding: 0.65rem;
	font-size: var(--size-text-medium);
	border-radius: 5px;
	border: 1px solid #999;
	color: #333;
	background: var(--background-1);
}

.recipe-notes form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.recipe-notes textarea {
	resize: vertical;
	padding: 0.65rem;
	font-size: var(--size-text-medium);
	border-radius: 5px;
	border: 1px solid #999;
	color: #333;
	background: var(--background-1);
}

.recipe-notes button {
	width: fit-content;
}

@media screen and (max-width: 1200px) {
	.recipe {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	main {
		padding: 87px 0 0 0;
	}
	.recipe-intro {
		grid-template-columns: 1fr;
		grid-template-areas: "text";
	}

	.recipe-content {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			"ingredients"
			"discussion";
	}

	.recipe-info {
		padding: 1rem;
	}

	.recipe-info h2 {
		font-size: 2.5rem;
	}

	.recipe-info-bar {
		gap: 0.5rem;
		padding: 0.5rem;
	}

	.recipe-info-bar-item {
		font-size: var(--size-text-small);
	}

	.recipe-info-bar-item img {
		width: 24px;
		height: 24px;
	}

	.recipe-intro .mobile-img {
		display: block;
	}

	.recipe-img {
		display: none;
	}

	.recipe-img img {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	.recipe-info h2 {
		font-size: 2rem;
	}

	.recipe-info p {
		font-size: var(--size-text-small);
	}

	.recipe-info-bar-item {
		font-size: var(--size-text-small);
	}
}

.collections-dropdown {
	position: relative;
	display: inline-block;
	width: 300px;
	margin-bottom: 2rem;
}

.collections-dropdown-toggle {
	width: 100%;
	padding: 10px 16px;
	font-size: 16px;
	color: #333;
	background-color: #fff;
	border: 2px solid #ddd;
	border-radius: 8px;
	text-align: left;
	cursor: pointer;
	/* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1); */
}

.collections-dropdown-toggle:focus {
	border-color: var(--color-primary);
	outline: none;
}

.collections-dropdown-menu {
	position: absolute;
	top: calc(100% + 1rem);
	left: 0;
	right: 0;
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
	max-height: 200px;
	overflow-y: auto;
	z-index: 1000;
	display: none;
}

.collections-dropdown-menu li {
	list-style: none;
	margin-bottom: 8px;
}

.collections-dropdown-menu li:last-child {
	margin-bottom: 0;
}

.collections-dropdown-menu label {
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: 14px;
}

.collections-dropdown-menu input {
	margin-right: 8px;
}

.collections-dropdown.open .collections-dropdown-menu {
	display: block;
}

.progress-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	width: 100%;
}
.step {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	position: relative;
	z-index: 1;
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.progress-line {
	height: 5px;
	background-color: lightgray;
	flex-grow: 1;
	margin: 0 10px;
	position: relative;
	overflow: hidden;
}
.progress-line::before {
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	background-color: #ffbc47;
	transition: width 0.5s ease-in-out;
}
.active:not(.profile-content-nav-item):not(.group-content-nav-item):not(.tab-button) {
	background-color: #ffbc47;
	color: white;
}
.filled-line::before {
	width: 100%;
}
.checkmark {
	width: 24px;
	height: 24px;
}

/* Comment Section */
#comment-section.comment-section {
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

#comment-section h2 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #444;
	font-weight: 600;
}

/* Comment Form */
.comment-form {
	margin-bottom: 20px;
}

.comment-form .form-row {
	display: flex;
	gap: 10px;
	align-items: stretch;
}

.comment-form textarea {
	flex: 1;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 14px;
	resize: none;
	/* height: 40px; */
	line-height: 1.5;
	box-sizing: border-box;
}

.comment-form button {
	/* flex: 1; */
	padding: 0.65rem 1.5rem;
}

/* Comment List */
.comment-list {
	margin-top: 20px;
}

.comment {
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 4px;
}

.comment-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	font-size: 14px;
	color: #666;
}

.comment-header a {
	color: #666;
	text-decoration: none;
}

.comment-header a:hover {
	text-decoration: underline;
}

.comment-body {
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

.comment-actions {
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.comment-btn {
	background: none;
	border: none;
	color: #333;
	cursor: pointer;
	font-size: 14px;
	padding: 0;
	transition: color 0.3s;
}

.comment-btn:hover {
	color: #999;
}

.comment-btn:hover {
	text-decoration: underline;
}

/* Nested Comments */
.nested-comments {
	margin-left: 30px;
	margin-top: 15px;
	padding-left: 15px;
	border-left: 2px solid #ddd;
}

/* Reply Form */
.reply-form {
	margin-top: 10px;
	margin-left: 20px;
}

/* Group Select Menu */
.group-select-menu {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 200px;
	height: 48px;
	display: flex;
	align-items: center;
}
.group-select-menu select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #eee;
	font-size: 16px;
	appearance: none;
	cursor: pointer;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path fill="black" d="M7 10l5 5 5-5z"/></svg>');
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 16px;
	padding-right: 30px;
}
.group-select-menu select:focus {
	outline: none;
	border-color: var(--color-primary);
}

@media screen and (max-width: 1000px) {
	.group-select-menu {
		position: static;
	}
}

.profile-collections {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.collections-list {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}
.collection {
	background: white;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
}
.actions {
	margin-top: 10px;
}
.actions a,
.actions button {
	margin-right: 10px;
	text-decoration: none;
	background: none;
	border: none;
	cursor: pointer;
}

.actions button i {
	color: #007bff;
}

.actions button.delete i {
	color: #ff4d4d;
}


.add-collection {
	display: block;
	margin-bottom: 20px;
	padding: 10px 15px;
	background: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.collections-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	padding: 20px;
	width: 100%;
}

.collection-card {
	background: white;
	border-radius: 8px;
	/* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
	overflow: hidden;
	/* transition: transform 0.2s ease, box-shadow 0.2s ease; */
	padding: 8px;
}

.collection-row {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}


.collection-name {
	/* padding: 0 16px; */
	position: relative;
	font-size: 18px;
	padding: 4px;
	font-weight: bold;
	/* border-bottom: 1px solid #eee; */
}

.collection-name.editing .collection-name-display {
    display: none; /* Hide the span when editing */
}

.collection-name.editing .collection-name-input {
    display: block; /* Show the input when editing */
    width: 100%;
    padding: 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.collection-name-input {
    display: none; /* Hide the input by default */
}

.collection-visibility {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 5px;
    border: 1px solid #999;
    width: fit-content;
    margin: 4px;
    padding: 4px 8px;
    font-size: 0.8rem;
}


.visibility-toggle {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.collection-row:not(:has(.collection-name.editing)) .visibility-toggle {
	cursor: default;
}

.visibility-checkbox {
    display: none; /* Hide the actual checkbox */
}

.visibility-icon {
    display: flex;
    align-items: center;
    gap: 4px;
}


.visibility-icon {
    display: flex;
    align-items: center;
    gap: 4px;
}

.visibility-toggle {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.visibility-checkbox {
    display: none; /* Hide the actual checkbox */
}

.hidden {
	display: none !important;
}


.collection-actions {
	display: flex;
	/* padding: 0 8px; */
	padding: 4px;
	gap: 8px;
}

.edit-button,
.delete-button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 8px;
	border-radius: 4px;
	transition: background-color 0.2s ease;
}

.edit-button:hover {
	background-color: #faf0e0;
}

.delete-button:hover {
	background-color: #ffebee;
}

.edit-button svg,
.delete-button svg {
	display: block;
}

/* Responsive Design */
@media (max-width: 600px) {
	.collections-container {
		grid-template-columns: 1fr;
	}
}

.tab-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.tab-content {
    display: none;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
	position: relative;
	height: calc(100% - 45.6px - 2rem);
}

.tab-content.alone {
	height: fit-content;
}

.tab-button.active {
	color: black;
}