.group-header
    .group-info
        .group-info--img
            %img{ :src => @group.image_url }
        .group-info--text
            %h2.group-name= @group.name
            %p.group-member-amount= @member_amount.to_s  + " medlemmar"
    .group-btns
        - if @is_member
            %a.btn.btn--primary{ :title => "Bjud in medlemmar", :href => "/invites/new?group_id=#{@group.id}"} Bjud in
            %a.btn.btn--primary{ :title => "L채mna grupp", :href => "/group/#{@group.id}/leave"} L채mna
        - else
            %button.btn.btn--primary{ :title => "G책 med i grupp"} G책 med