.card-container
    .card
        .img-wrapper
            %img.card-image{ :src => recipe.image_url }
        .card-content
            .card-title= recipe.title
            .card-time= 'N/A'
            .card-btn-row
                %button.card-btn.card-btn--primary{ :title => "Mer information" } Mer info
                %button.card-btn.card-btn--primary{ :title => "Läs hela receptet" } Läs hela receptet
