- content_for :head do
    %title Receptbasen
    %meta{property: "og:title", content: "Receptbasen"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "https://receptbasen.se"}

#saveRecipeModal.modal
    .save-recipe-modal-content
        %h3 Spara recept
        
%h2.page-title Recept
.recipe-list
    - @recipes.each do |recipe|
        != haml :"recipes/_brief", locals: { recipe: recipe }