- content_for :head do
    %title Receptbasen
    %meta{property: "og:title", content: "Receptbasen"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "https://receptbasen.se"}
    %script{ src: "/js/recipeHelper.js", defer: true}


%h2.page-title Recept
!= haml :"recipes/_list", locals: { recipes: @recipes }