- content_for :head do
    %title Receptbasen - Nytt Recept
    %meta{property: "og:title", content: "Receptbasen"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "https://receptbasen.se"}

%h2.page-title Nytt Recept

%form#addForm{:method => 'post', :action => '/recipes'}
    .recipe-input
        %input#name{:name => 'url', :placeholder => 'Länk till recept', :type => 'text'}
    %input.addrecipe-btn.btn-primary{:type => 'submit', :value => "Lägg till"}
    