- content_for :head do
    %title Receptbasen - Nytt Recept
    %meta{property: "og:title", content: "Receptbasen"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:url", content: "https://receptbasen.se"}

%h2.page-title Nytt Recept

%form#addForm{:method => 'post', :action => '/recipes'}
    .recipe-input
        %label{:for => "url"} URL
        %input#name{:name => 'url', :placeholder => 'Recipe URL'}
    %input.addrecipe-btn.btn-primary{:type => 'submit'}
    